<li>
  <h2>{{ friend.name }}</h2>
  <TodoComponent />
  <button @click="toggleDetails()">
    {{ detailsAreVisible ? 'Hide' : 'Show' }} Details
  </button>
  <button @click="deleteFriend( friend )">
    Delete Friend
  </button>
  <ul v-if="detailsAreVisible">
    <li><strong>Phone:</strong> {{ friend.phone }}</li>
    <li><strong>Email:</strong> {{ friend.email }}</li>
  </ul>
  <img src="" />
  <div class="border" />
  {{ showAlert }}
  <button @click="toggleAlert">toggleAlert</button>
  <hr />
  <hr />
  <hr />
  <LoginButton />
  <LoginForm />
  <RegisterForm />
</li>
